[Unit]
Description={{ service_description }}
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User={{ service_user }}
Group={{ service_group }}

EnvironmentFile=-/etc/environment

WorkingDirectory=/home/{{ service_user }}/{{ service_directory }}

ExecStart=/home/{{ service_user }}/{{ service_directory }}/{{ service_binary }} -port={{ service_port }}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target